
 
 
 *{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
  

}

.container{
    
    margin-right: 500px;
    margin-left: 600px;
    cursor: default;
    margin-bottom: 20px;
    
    
}


.sidebar{
    position: fixed;
    left: 0px;
    width: 300px;
    height: 100%;
    background: whitesmoke;

}
.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #438a5e;


}
.sidebar li  {
  
   text-align: left;
   padding: 10px;
}
.sidebar li a{
    color: red;

}

.title{
    font-family:  Helvetica;
    text-align: center;
    font-size: 50px;
    color: black;
   text-decoration: none;
}

  #theform
{
   
	color:white;
	display: table;
	padding:20px;
	background-color:  #44c767;
	border:solid 2px black;
   margin :0 auto;
   margin-top: 70px;
   font-size: 25px;
   display: flex;
    flex-direction: column;
   
}

.form-content {
    width: 100%;
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
    color: black;
    border: 0;
  }


 

.row {
	display: table-row;
}
.row label{
	display: table-cell;
	padding: 2px;
text-align: left;

}
.row input{
	display: table-cell;
	padding: 2px;
}

#button{
	

font: 700 13px Helvetica,Arial;
height: 30px;
line-height: 28px;
padding: 0 20px;
text-align: center;


}

@media (max-width:1300px){
    .container{
        margin-left: 310px;
        margin-right: autoss;
    }
    #theform{
        float: left;
        width: 500px;
    }

    .title{
        font-size: large;
        margin-left: 250px;
      
        
        
    }

}
@media (max-width: 800px){
    .sidebar{
      display: none;
    }
    .nav-bar-content{
      margin-left: 0%;
    }
    .container{
      margin-left: 0%;
    }
    .title{
        font-size: 25px;
        margin-left: 0%;
      
      }
}

