html {
    font-family: Helvetica, sans-serif, Arial;
}
.product{
    font-size:40px;
    text-align:center;
    color:black;
}
.price{
    color : green;
    font-size: 30px;
    text-align:center;
    position:absolute;
    margin-left:60%;
    font-weight:bold;
}
.image{
    border: 5px solid #98FAC2;
    border-radius : 50%;
    background-color: blue;
    height : 30%;
    width:20%;
    position:absolute;
    margin-left:5%;
}
.desButton{
    background-color: #02a8a8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position:absolute;
    margin-left:30%;
    margin-top:5%;
}
.cartButton{
    background-color: #02a8a8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position:absolute;
    margin-left:30%;
    margin-top:12%;
}
Button:hover{
    background-color:lime;
}
Button:active {
    background-color: #02a8a8;
    transform: translateY(4px);
}        
#footer{
    position:absolute;
    margin-top:20%;
    margin-left:30%;
}
input{
    background-color: #98FAC2;
    padding: 10px 32px;
    position:absolute;
    margin-left:60%;
    margin-top:15%;
}
input:hover {
    background-color: lime;
  }
label{
    color:green;
    font-size:30px;
    position:absolute;
    margin-left:60%;
    margin-top:10%;
    width:5%;
}
/*Responsiveness*/
@media screen and (max-width: 915px) {
    .price,label,input{
        font-size:20px;
        margin-left:60%;
        margin-top:5%;
    }
    label{
        margin-top:10%;
    }
    input{
        margin-top:15%;
        padding:5px;
    }
    #footer{
        margin-top:40%;
    }
}
@media screen and (max-width: 500px) {
    h2{
        margin-bottom:20%;
    }
    .image{
        margin-left:auto;
        width:100%;
        margin-right:auto;
        margin-bottom:50%;
   }
    .desButton{
        width:100%;
        margin-top:90%;
        margin-left:auto;
    }
    .cartButton{
        width:100%;
        margin-top:105%;
        margin-left:auto;
    }
    .price{
        margin-top:70%;
        font-size:30px;
        width:100%;
        margin-left:auto;
    }
    #footer{
        margin-top:150%;
        height:50%;
        margin-right:20%;
    }
    label{
        margin-top:120%;
        margin-left:auto;
        font-size:25px;
    }

    .input{
        position:absolute;
        text-align:center;
        margin-top:130%;
        margin-left:auto;
    }
}
