body{
    font-family: Helvetica;
    background-color: #44c767;

}

.title{
 margin-left: 500px;
 font-family: Helvetica;
 color: white;
 margin-bottom: 10px;
 padding: 20px;
}
.sidebar{
    position: fixed;
    left: 0px;
    width: 300px;
    height: 100%;
    background: whitesmoke;
    font-family: Helvetica;

}
.sidebar header {
  margin-top: 0%;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #438a5e;
    font-family: Helvetica;


}


#login{
  position: absolute;
  bottom: 0px;
 
}




.container {
    position: relative;
   
    margin-left:310px; 
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 20px;
  }
  .col {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }
 
  .table {
    
    background-color: whitesmoke;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
    padding: 40px;
    border-radius: 20px;
  min-height: 350px;
  height: 100%;
  max-height: 700px;
    overflow-y: scroll;
   
   margin-right: 25%;
  }
  .table td,
.table th {
  
  padding: 15px 25px;
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;

}

  thead {
    
    color: #44c767;
    font-size: large;
    

    
    
  }
  td{
    color: black;
  }

.product-name {
    font-size: medium;
    font-weight: 600;
    color: black;
  }
  .buttons{
    display: flex;
    float: left;
    margin-left:650px; 
    margin-bottom: 10px;
 
  }


  .btn {
   
    padding: 13px 28px;
   margin-right: 10px;;
    max-width: 100%;
    color: #fff;
    background-color: #438a5e;
    border: 2px solid #438a5e;
    font-size: 90%;
    font-weight: 600;
    

  }
  .buttons :hover{
    color: black;
  }

  .edit{
    font-size: medium;
    color: #02a8a8;
   text-decoration: underline;
   


  }
  @media (max-width: 1200px) {
   .product-name{
     color: black;
   }
   .container{
     width: fit-content;
   }
   
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .img{
      display: none;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }

    table td::before {
      content: attr(class);
      float: left;
      color: #44c767;
      font-weight: bold;
    }

    .nav-bar-content a, #right {
      float:none;
  }
 
  .buttons{
    margin-left: 310px;
    padding: 5px;
  }
  .title{
    font-size: large;
    margin-left: 200px;
  
  }
    
}
@media (max-width: 800px){
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}

 
  .nav-bar-content{
    margin-left: 0%;
  }
  .container{
    margin-left: 0%;
    width: 80%;
    height: auto;
    position: relative;
    float: left;
  }
  .buttons{
    margin-left: 0%;
    padding: 5px;
  }
  .title{
   margin-left: 200px;
  }
}
    
 
  