html {
    font-family: Helvetica, sans-serif, Arial;
}
html,body{
    height:120%;
}
.img-fluid {
    max-width: auto; /* or to whatever you want here */
    max-height: auto; /* or to whatever you want here */
  }
.product{
    font-size:40px;
    text-align:center;
    color:black;
}
.price{
    color : green;
    font-size: 30px;
    text-align:center;
}
.image{
    border: 5px solid #98FAC2;
    background-color: blue;
}
.desButton{
    background-color: #02a8a8; /* Green */
    border: none;
    color: #02a8a8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.cartButton{
    background-color: #02a8a8; /* Green */
    border: none;
    color: #02a8a8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
Button:hover{
    background-color:lime;
}
Button:active {
    background-color: #02a8a8;
    transform: translateY(4px);
}        
input{
    background-color: #98FAC2;
    padding: 10px 32px;
}
input:hover {
    background-color: lime;
  }
label{
    color:green;
    font-size:30px;text-align:center;
}
