html {
    font-family: Helvetica, sans-serif, Arial;
}
h2{
    text-align:center;
    font-size:30px;
    color:green;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color:black;
}
  
a:hover {
    background-color:orange;
    color: black;
}
  
.previous {
    background-color: goldenrod;
}

.close {
    cursor: pointer;
    color:red;
}
.close:hover {
    background: #bbb;
}
.Action{
    float:left
    ;
}
input {
    text-align:right;
    clear:left;
}
.table{
    width:100%;
}
