body {
  font-family: Helvetica;
  background-color: #44c767 !important;
}

h1 {
    color: #44c767;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

p {
  color: #44c767;
  text-align: center;
  font-family: Helvetica;
}

button {
  font-family: Helvetica, sans-serif;
}

.btn-secondary {
  margin: 10px;
  background-color: darkgreen;
}

.btn-dark {
  margin: 5px;
}

#addUser {
  margin-top: 1rem;
}

#delUser {
  margin-top: 1rem;
}

.list-group-item {
  font-family: Helvetica, sans-serif;
  height: 3rem;
}


label {
  color: #44c767;;
}

.sidebar{
  position: fixed;
  left: 0px;
  width: 300px;
  height: 100%;
  background: whitesmoke;
  font-family: Helvetica;

}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #438a5e;
  font-family: Helvetica;


}
.sidebar li  {

 text-align: left;
 padding: 10px;
}
.sidebar li a{
  color: red;
}

.nav-bar-content {
  list-style-type: none;
  padding: 0px;
  margin-left:310px; 
  margin-right: 10px;
  background-color: #438a5e;
  overflow: hidden;
  border-radius: 20px;
}

.nav-bar-content a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1rem; 
  color: #ffffff;
  float: left;
  font-size: 1.25rem;
}

#logout{
  float: right;
  margin-right: 10px;
}

.nav-bar a:hover {
  background-color: #fdfcfa;
  color: #44c767;
}