body {
  font-family: Helvetica;
  background-color: #44c767 !important;
}

h1 {
    color: #44c767;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

p {
  color: #44c767;
  text-align: center;
  font-family: Helvetica;
}

button {
  font-family: Helvetica, sans-serif;
}

.btn-secondary {
  margin: 10px;
  background-color: darkgreen;
}

.btn-dark {
  margin: 5px;
}

#addUser {
  margin-top: 1rem;
}

#delUser {
  margin-top: 1rem;
}

#login{
  position: absolute;
  bottom: 0px;
}

.list-group-item {
  font-family: Helvetica, sans-serif;
  height: 3rem;
}


label {
  color: #44c767;;
}

.sidebar{
  position: fixed;
  left: 0px;
  width: 300px;
  height: 100%;
  background: whitesmoke;
  font-family: Helvetica;

}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #438a5e;
  font-family: Helvetica;
}

#logout{
  float: right;
  margin-right: 10px;
}

/*Footer Section for consistency*/
#footer {
  height: 2rem;
  font-size: 1.25m;
  margin-left: 22rem;
  text-align: center;
}

#footer .fab {
  color: white;
  padding: 1rem;
}

#footer .fab:hover {
  color: white;
}

#footer h6 {
  margin: 0;
  padding-bottom: 1.25rem;
  font-weight: normal;
  font-size: 1rem;
}

#headFooter {
  color: white;
}
@media screen and (max-width: 1050px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

  .container-sm {
    width: 500px;
    height: auto;
    vertical-align: middle;
    position: relative;
    float: left;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

  .container-sm {
    width: 500px;
    height: auto;
    vertical-align: middle;
    position: relative;
    float: left;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .container-sm {
    width: 300px;
    vertical-align: middle;
    height: auto;
    position: relative;
    float: left;
  }

  #footer {
    vertical-align: middle;
    text-align: center;
  }
}