html {
    font-family: Helvetica, sans-serif, Arial !important;
}

/*Nav Bar*/

.nav-bar-content {
    list-style-type: none;
    padding: 0;
    background-color: #44c767;
    overflow: hidden;
    border-radius: 20px;
}

.nav-bar-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem; 
    color: #ffffff;
    float: left;
    font-size: 1.25rem;
}

#cus {
    float: right;
}

.nav-bar a:hover {
    background-color: #fdfcfa;
    color: #44c767;
}

.banner {
    background-color: #438a5e; 
    color:white;
    border-radius: 20px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
}

.form-control:focus {
    border-color: #02a8a8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #02a8a8c0;
}

.submit {
    background-color: #02a8a8; 
    border: none;
    color: white;
}

.submit:hover {
    background-color: #029696;
    color: white;
}

/*Footer Section for consistency*/
#footer {
    height: 2rem;
    font-size: 1.25m;
    text-align: center;
}

#footer .fab {
    color: #44c767;
    padding: 1rem;
}

#footer .fab:hover {
    color: #8d7e7e;
}

#footer h6 {
    margin: 0;
    padding-bottom: 1.25rem;
    font-weight: normal;
    font-size: 1rem;
}