/* Site Wide */
body {    
    background-color: #F6F5EB;
    font-family: Helvetica, sans-serif !important;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 3.75rem;
    margin: 0;
    padding: 0 0 1rem;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
    color: #000;
}
  
.header h1:hover a {
    color: #005555;
}

/*Nav Bar*/
.nav-bar-content {
    list-style-type: none;
    padding: 0;
    background-color: #44c767;
    overflow: hidden;
    border-radius: 20px;
}

.nav-bar-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem; 
    color: #ffffff;
    float: left;
    font-size: 1.25rem;
}

#right {
    float: right;
}

.nav-bar a:hover {
    background-color: #438a5e;
}

/* Heading Banner */
.banner {
    background-color: #438a5e; 
    color:white;
    border-radius: 20px;
    padding: 15px;
    padding-top: 25px;
    text-align: center;
}

/* Form links and input boxes */
.link {
    color: #005555;
    text-decoration: none;
}

h1 .link {
    color: black;
}

h1 .link:hover {
    color:#016464;
    text-decoration: none;
}

.link:hover {
    color: #008080;
    text-decoration: none;
}

.form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #02a8a8c0;
}

input.invalid {
    border-color: red;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px red;
}

p.invalid {
    color: red;
    padding-top: 5%;
}

.submit {
    background-color: #02a8a8; 
    border: none;
    color: white;
}

.submit:hover {
    background-color: #037e7e;
    color: white;
}

/*Footer Section for consistency*/
#footer {
    height: 2rem;
    font-size: 1.25m;
    text-align: center;
}

#footer .fab {
    color: #44c767;
    padding: 1rem;
}

#footer .fab:hover {
    color: #438a5e;
}

#footer h6 {
    margin: 0;
    padding-bottom: 1.25rem;
    font-weight: normal;
    font-size: 1rem;
}

@media screen and (max-width: 705px) {
    .nav-bar-content a, #right {
        float:none;
    }
}