body {
    background-color: #F6F5EB;
    font-family: Helvetica, sans-serif;
}

/*Header*/

.header {
    text-align: center;
    font-size: 2.5rem;
}

.header h1 {
    margin: 0;
    padding: 0 0 1rem;
}

/*Nav Bar*/

.nav-bar-content {
    list-style-type: none;
    padding: 0;
    margin: 1.6rem;
    background-color: #44c767;
    overflow: hidden;
    border-radius: 20px;
}

.nav-bar-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem; 
    color: #ffffff;
    float: left;
    font-size: 1.25rem;
}

#right {
    float: right;
}

.nav-bar a:hover {
    background-color: #438a5e;
}

/*Banner Section*/

.banner {
    margin: 1.6rem;
    height: 30rem;
    border-radius: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #000000;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner p{
    margin: 0;
    font-size: 1.75rem;
    width: 50%;
    position: absolute;
    top: 35%;
    margin-left: 0.67rem;
}

.banner h3 {
    margin: 0;
    font-size: 2rem;
    position: absolute;
    top: 25%;
    margin-left: 0.67rem;
}

.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin: 0;
}

/*Offers Section*/

.section-title {
    background-color: #438a5e;
    border-radius: 20px;
    color: #ffffff;
    padding: 1rem 1.5rem;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin: 1.6rem;
}

/* This is here to give a fake view of a margin since margin is not included in the box-sizing model thus allowing float left to work
normally */
.fake-margin {
    box-sizing: border-box;
    padding: 1.6rem;
}

.row {
    position: relative;
    border-radius: 20px;
    height: 32rem;
    overflow: hidden; 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9);
}

.row img {
    width: 100%;
    height: 100%;    
}

.row:hover img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: all, 0.5s;
}

.col {
    width: 33.33%;
    float: left;  
}

.row p {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 0 #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.offer-price {
    font-size: 1.5rem;
}

.check {
    background-color:#02a8a8;
	border-radius:28px;
	border:1px solid #007e7e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 18px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 5px;
}

.check:hover {
    background-color: #ffffff;
    color: #02a8a8;
}

/*Remove clear the float so the following section will not include the products*/
#offers::after, .products::after {
    content: " ";
    clear: both;
    display: block;
}

/*Aisles Section*/
#aisles {
    border-radius: 20px;
    margin: 1.6rem;
    background-color: #438a5e;
}

#aisles .section-title {
    margin-bottom: 0;
}

#aisles ul {
    margin: 0;
    padding: 0 0 1rem 0rem;
    color: #ffffff;
    list-style-type: none;
}

#aisles a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}

#aisles a:hover {
    background-color: #ffffff;
    color: #438a5e;
}

/*Footer Section*/
#footer {
    height: 2rem;
    font-size: 1.25m;
    text-align: center;
}

#footer .fab {
    color: #44c767;
    padding: 1rem;
}

#footer .fab:hover {
    color: #8d7e7e;
}

#footer h6 {
    margin: 0;
    padding-bottom: 1.25rem;
    font-weight: normal;
    font-size: 1rem;
}

/*Responsivness of the website*/
@media screen and (max-width: 961px) {
    .banner {
        padding-left: 0;
        text-align: center;
    } 

    .banner p, .banner h3 {
        width: 100%;
        margin: 0;
    }

    .col {
        width: 100%;
    }
}

@media screen and (max-width: 705px) {
    .nav-bar-content a, #right {
        float:none;
    }
}
