#title2{
  margin-left: 37%;
}

#ordernum{
  color: rgb(70, 69, 69);
}


  .edit-table{
    
    margin-bottom: 0;
    padding: 20px;
    margin-left: 150px;
    
    
  }



  .large-buttons-edit{
    margin-left: 150px;
    
  }
  
  #save-edit{
    
    margin-left: 400px;
  }
  


  @media (max-width: 800px){
    #title2{
      margin-left: 25%;
    }

    .large-buttons-edit{
      margin-left: 70px;
    }
    
    #save-edit{
      margin-left: 1px;
    }
    
  
  }



