
/*edit order title*/
.title2{
    margin-top: 20px;
    margin-left: 36%;
    font-family: Helvetica;
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
   }


  fieldset{
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 0.5em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 0px
  }

  legend{
    font-size: 20px;
  }

  label{
      font-size: 25px;
  }

  .edit-table{
    color: #fff;
    margin-bottom: 0;
    padding: 20px;
    margin-left: 60px;
    
  }

  .edit-table td,.edit-table th {
  
    padding: 10px 25px;
    border-bottom: 2px solid #ddd;

}